body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

header {
  grid-column: 1 / 4;
}

.left-sidebar {
  grid-column: 1 / 2;
}

main {
  grid-column: 2 / 3;
  overflow: auto;
}

.right-sidebar {
  grid-column: 3 / 4;
}

footer {
  text-align: center;
  grid-column: 1 / 4;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #aed9e0;
}

body > * {
  outline: 1px dashed #247ba0;
}

.left-sidebar,
.right-sidebar,
main,
header,
footer {
  padding: 2rem;
}
