<!DOCTYPE html>
<html>
  <head>
    <title>Holy Grail CSS</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./flexBox.css" /> 
    <link href="./color.css" rel="stylesheet">       
  </head>

  <body>
    <header class="pink section"><h1>Header</h1></header>
    <div class="wrapper">
        <div class="left-side blue section" >
        <h1>Left Sidebar</h1>
        width=20%
        </div>
        <main class="section coral" >
            <h1>Main Content</h1>
        </main>
        <div class="right-side yellow section" contenteditable>
          <h1>Right Sidebar</h1>
            contenteditable<br/>
            expand/shrink with content
        </div>
        </div>
    <footer class="green section"><h1>Footer</h1></footer>
  </body>
</html>